In [9]:
from nltk.corpus import wordnet

print(wordnet.get_version())

3.0

In [10]:
import pandas as pd

mturk771 = pd.read_csv("data/mturk-771.csv")[["word1", "word2", "similarity"]]
mturk771

         word1        word2  similarity
0       access      gateway    3.791667
1      account  explanation    2.000000
2      account      invoice    3.750000
3      account    statement    3.681818
4     acoustic       remedy    1.227273
..         ...          ...         ...
766     ticket      writing    2.375000
767    victory        watch    1.553191
768     washer       worker    2.909091
769       wife        woman    3.884615
770  workplace     workshop    4.040000

[771 rows x 3 columns]

In [11]:
import gensim
model = gensim.models.KeyedVectors.load_word2vec_format("~/gensim-data/GoogleNews-vectors-negative300.bin.gz", binary=True)

In [12]:
import pandas as pd
from tqdm import tqdm

def get_w2v_similarity_on_mturk771():
    data = mturk771.to_dict(orient="records")
    for item in tqdm(data):
        item["w2v"] = model.similarity(item["word1"], item["word2"])
    return data

result = pd.DataFrame(get_w2v_similarity_on_mturk771())
result

100%|██████████| 771/771 [00:00<00:00, 9840.99it/s]

         word1        word2  similarity       w2v
0       access      gateway    3.791667  0.315719
1      account  explanation    2.000000  0.241539
2      account      invoice    3.750000  0.276443
3      account    statement    3.681818  0.192845
4     acoustic       remedy    1.227273  0.031524
..         ...          ...         ...       ...
766     ticket      writing    2.375000  0.016154
767    victory        watch    1.553191  0.076318
768     washer       worker    2.909091  0.166694
769       wife        woman    3.884615  0.444824
770  workplace     workshop    4.040000  0.145026

[771 rows x 4 columns]

In [16]:
result.to_csv("result/w2v_mturk771.csv")

In [18]:
result.corr("spearman").to_csv("result/w2v_spearman.csv")
result.corr("spearman")

            similarity      w2v
similarity     1.00000  0.67131
w2v            0.67131  1.00000